In [1]:
import os
import numpy as np
import pandas as pd
import csv
from io import StringIO

In [313]:
trainload = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/train/track2/training.txt",sep="\s+",names=['Click','Impression','DisplayURL','AdID','AdvertiserID','Depth','Position','QueryID','KeywordID','TitleID','DescriptionID','UserID'],nrows=99999)

In [90]:
user = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/train/track2/userid_profile.txt",sep="\s+",names=['UserID','Gender','Age'])

In [314]:
traincopy=trainload.copy()

In [315]:
len(traincopy)

99999

In [316]:
ad_user = traincopy.groupby(['AdvertiserID'])['UserID'].nunique().reset_index()

In [317]:
ad_user.head(2)

   AdvertiserID  UserID
0            81       3
1            82      56

In [318]:
ad_ads = traincopy.groupby(['AdvertiserID'])['AdID'].nunique().reset_index()

In [319]:
ad_ads.head(2)

   AdvertiserID  AdID
0            81     1
1            82     1

In [320]:
traincopy[traincopy['AdvertiserID']==81]

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID
1522,0,1,1735141127062751049,22199609,81,1,1,34587,331,63,80,935030
14060,0,1,1735141127062751049,22199609,81,1,1,222011,331,63,80,327633
51016,0,1,1735141127062751049,22199609,81,1,1,9588924,331,63,80,817448

In [321]:
ad_user=ad_user.rename(columns = {'UserID':'#users'})

In [322]:
ad_ads=ad_ads.rename(columns = {'AdID':'#ads'})

In [323]:
#merge_adv = pd.merge(left=ad_user,right=ad_ads, left_on='AdvertiserID', right_on='AdvertiserID')
#merge_adv = pd.concat([ad_user, ad_ads], axis=1)
merge_adv = pd.merge(left=ad_user,right=ad_ads, how='outer', left_on='AdvertiserID', right_on='AdvertiserID')

In [324]:
len(merge_adv)

6627

In [325]:
merge_adv.head(5)

   AdvertiserID  #users  #ads
0            81       3     1
1            82      56     1
2            83       1     2
3            85       3     3
4            87       3     2

In [326]:
advertiser = pd.merge(left=traincopy,right=merge_adv,how='left', left_on='AdvertiserID', right_on='AdvertiserID')

In [327]:
len(advertiser)

99999

In [328]:
traincopy1=advertiser.copy()

In [329]:
traincopy1.head(5)

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads
0,0,1,4298118681424644510,7686695,385,3,3,1601,5521,7709,576,490234,739,480
1,0,1,4860571499428580850,21560664,37484,2,2,2255103,317,48989,44771,490234,12,5
2,0,1,9704320783495875564,21748480,36759,3,3,4532751,60721,685038,29681,490234,1,1
3,0,1,13677630321509009335,3517124,23778,3,1,1601,2155,1207,1422,490234,1110,36
4,0,1,3284760244799604489,20758093,34535,1,1,4532751,77819,266618,222223,490234,40,11

In [107]:
merge_user = pd.merge(left=traincopy1,right=user,how='left', left_on='UserID', right_on='UserID')

In [108]:
merge_user.head(5)

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads,Gender,Age
0,0,1,4298118681424644510,7686695,385,3,3,1601,5521,7709,576,490234,739,480,1.0,3.0
1,0,1,4860571499428580850,21560664,37484,2,2,2255103,317,48989,44771,490234,12,5,1.0,3.0
2,0,1,9704320783495875564,21748480,36759,3,3,4532751,60721,685038,29681,490234,1,1,1.0,3.0
3,0,1,13677630321509009335,3517124,23778,3,1,1601,2155,1207,1422,490234,1110,36,1.0,3.0
4,0,1,3284760244799604489,20758093,34535,1,1,4532751,77819,266618,222223,490234,40,11,1.0,3.0

In [330]:
#len(merge_user)
len(traincopy1)

99999

In [331]:
traincopy.isnull().values.any()

False

In [111]:
sum(merge_user['Gender'].isnull())

392

In [112]:
merge_user.ix[merge_user['Gender'].isnull()].index

Int64Index([ 4053,  4054,  4881,  4882,  4928,  5752,  5753,  5754,  5755,
             5756,
            ...
            93271, 93437, 93438, 95938, 95939, 95940, 96358, 96359, 96360,
            96361],
           dtype='int64', length=392)

In [113]:
merge_user.ix[merge_user['Age'].isnull()].index

Int64Index([ 4053,  4054,  4881,  4882,  4928,  5752,  5753,  5754,  5755,
             5756,
            ...
            93271, 93437, 93438, 95938, 95939, 95940, 96358, 96359, 96360,
            96361],
           dtype='int64', length=392)

In [114]:
merge_user['Gender'].value_counts()

1.0    52921
2.0    44859
0.0     1827
Name: Gender, dtype: int64

In [115]:
merge_user['Gender']=merge_user['Gender'].fillna(0)

In [116]:
merge_user['Age']=merge_user['Age'].fillna(0)

In [117]:
merge_user['Gender'].value_counts()

1.0    52921
2.0    44859
0.0     2219
Name: Gender, dtype: int64

In [118]:
merge_user['Age'].value_counts()

3.0    27877
2.0    25803
5.0    14527
4.0    13836
1.0    10523
6.0     7041
0.0      392
Name: Age, dtype: int64

In [119]:
len(merge_user)

99999

In [120]:
merge_user.isnull().values.any()

False

In [189]:
q_95 = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/dsproject/dsproject/query/output/query_100.txt",sep="\s+",names=['QueryID','Tokenscore_query'])

In [190]:
d_90 = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/dsproject/dsproject/description/output/description_100.txt",sep="\s+",names=['DescriptionID','Tokenscore_desc'])

In [191]:
k_90 = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/dsproject/dsproject/keyword/output/keyword_100.txt",sep="\s+",names=['KeywordID','Tokenscore_key'])

In [192]:
t_90 = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/dsproject/dsproject/title/output/title_100.txt",sep="\s+",names=['TitleID','Tokenscore_title'])

In [332]:
traincopy2=traincopy1.copy()

In [333]:
m1 = pd.merge(left=traincopy2,right=q_95,how='left', left_on='QueryID', right_on='QueryID')

In [334]:
merged2 = pd.merge(left=m1,right=t_90,how='left', left_on='TitleID', right_on='TitleID')

In [335]:
merged3 = pd.merge(left=merged2,right=d_90, how='left',left_on='DescriptionID', right_on='DescriptionID')

In [336]:
final_merged_train = pd.merge(left=merged3,right=k_90,how='left', left_on='KeywordID', right_on='KeywordID')

In [337]:
len(final_merged_train)

99999

In [338]:
final_merged_train.isnull().values.any()

True

In [339]:
final_merged_train.columns

Index([u'Click', u'Impression', u'DisplayURL', u'AdID', u'AdvertiserID',
       u'Depth', u'Position', u'QueryID', u'KeywordID', u'TitleID',
       u'DescriptionID', u'UserID', u'#users', u'#ads', u'Tokenscore_query',
       u'Tokenscore_title', u'Tokenscore_desc', u'Tokenscore_key'],
      dtype='object')

In [340]:
sum(final_merged_train['Tokenscore_key'].isnull())

0

In [341]:
final_merged_train['Tokenscore_desc']=final_merged_train['Tokenscore_desc'].fillna(0)

In [342]:
merged_train=final_merged_train.copy()

In [343]:
len(merged_train)-len(merged_train.drop_duplicates())

0

In [344]:
merged_train.drop_duplicates(inplace = True)

In [345]:
len(merged_train)

99999

In [77]:
merged_train.duplicated()#checking duplicate values

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9969    False
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993    False
9994    False
9995    False
9996    False
9997    False
9998    False
dtype: bool

In [346]:
merged_train.isnull().values.any()

False

In [347]:
merged_train.head(2)

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,0,1,4298118681424644510,7686695,385,3,3,1601,5521,7709,576,490234,739,480,3718,0,19463858.0,36065
1,0,1,4860571499428580850,21560664,37484,2,2,2255103,317,48989,44771,490234,12,5,199799,0,341421.0,27728

In [348]:
merged_train.drop(['DisplayURL','QueryID','KeywordID','TitleID','DescriptionID','AdID','AdvertiserID','UserID'], axis=1, inplace=True)

In [349]:
merged_train.head(2)

,Click,Impression,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,0,1,3,3,739,480,3718,0,19463858.0,36065
1,0,1,2,2,12,5,199799,0,341421.0,27728

In [350]:
len(merged_train)

99999

In [351]:
merged_train.to_csv("C:/Users/Harika Konagala/Desktop/kddcup/traintokens_100k.txt",sep='\t')

In [352]:
#try the same with test data now

In [353]:
loadtest = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/test/test.txt",sep="\s+",names=['DisplayURL','AdID','AdvertiserID','Depth','Position','QueryID','KeywordID','TitleID','DescriptionID','UserID'],nrows=99999)

In [354]:
testcopy=loadtest.copy()

In [355]:
advertiser_test = pd.merge(left=testcopy,right=merge_adv, how='left',left_on='AdvertiserID', right_on='AdvertiserID')

In [356]:
testcopy1=advertiser_test.copy()

In [357]:
testcopy1.head(5)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,11.0,4.0
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,2891.0,1140.0
2,16772851793638846604,22111129,38584,3,2,6415,8872,454986,378040,490234,19.0,13.0
3,5325279403472852193,22166807,38756,2,1,83,34,5360,2080,490234,11.0,4.0
4,12057878999086460853,20180629,27961,2,2,83,34,328,455,490234,4982.0,1086.0

In [358]:
len(testcopy1)

99999

In [144]:
test_user = pd.merge(left=testcopy1,right=user, how='left',left_on='UserID', right_on='UserID')

In [359]:
t1 = pd.merge(left=testcopy1,right=q_95, how='left',left_on='QueryID', right_on='QueryID')

In [360]:
t2 = pd.merge(left=t1,right=t_90, how='left',left_on='TitleID', right_on='TitleID')

In [361]:
t3 = pd.merge(left=t2,right=d_90, how='left',left_on='DescriptionID', right_on='DescriptionID')

In [362]:
final_merged_test = pd.merge(left=t3,right=k_90, how='left',left_on='KeywordID', right_on='KeywordID')

In [363]:
len(final_merged_test)

99999

In [364]:
final_merged_test.isnull().values.any()

True

In [365]:
merged_test=final_merged_test.copy()

In [366]:
merged_test.head(2)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,11.0,4.0,2267,0,46000561.0,10820
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,2891.0,1140.0,2267,0,15211447.0,78

In [367]:
sum(merged_test['#ads'].isnull())

7896

In [368]:
sum(merged_test['Tokenscore_key'].isnull())

0

In [236]:
merged_test.ix[merged_test['#users'].isnull()].index

Int64Index([  18,   19,   30,   33,   40,   43,   51,   54,   55,   86,
            ...
            9945, 9947, 9982, 9983, 9985, 9988, 9991, 9994, 9997, 9998],
           dtype='int64', length=2147)

In [73]:
merged_test['#ads'].value_counts()

1.0      5115
796.0    3630
402.0    3520
3.0      3052
733.0    2796
4.0      2376
2.0      2346
34.0     1514
5.0      1370
12.0     1294
108.0     903
6.0       891
134.0     804
9.0       791
14.0      775
10.0      670
20.0      661
8.0       626
7.0       613
11.0      598
167.0     557
189.0     535
290.0     509
169.0     500
19.0      436
13.0      425
16.0      403
75.0      390
52.0      330
57.0      315
         ...
58.0      263
17.0      261
140.0     260
30.0      249
59.0      233
27.0      230
23.0      210
97.0      184
50.0      168
28.0      150
35.0      141
54.0      126
15.0      121
85.0      114
47.0      111
49.0      102
39.0       98
72.0       95
26.0       85
81.0       85
25.0       72
67.0       69
101.0      62
29.0       54
24.0       43
33.0       43
45.0       42
96.0       39
22.0       29
32.0       29
Name: #ads, dtype: int64

In [156]:
merged_test['Gender']=merged_test['Gender'].fillna(0)

In [157]:
merged_test['Age']=merged_test['Age'].fillna(0)

In [158]:
merged_test['Age'].value_counts()

2.0    28829
3.0    24171
4.0    15926
5.0    13283
1.0    10932
6.0     6582
0.0      276
Name: Age, dtype: int64

In [369]:
merged_test['#users']=merged_test['#users'].fillna(0)

In [370]:
merged_test['#ads']=merged_test['#ads'].fillna(0)

In [371]:
merged_test['Tokenscore_desc']=merged_test['Tokenscore_desc'].fillna(0)

In [372]:
merged_test.isnull().values.any()

False

In [80]:
merged_test['#users'].value_counts()

0.0       6035
2453.0    3630
2068.0    3520
1.0       2806
1464.0    2796
2.0       2112
3.0       1431
12.0      1208
556.0     1150
494.0      903
5.0        843
4.0        840
6.0        827
448.0      804
167.0      790
82.0       749
7.0        682
15.0       619
70.0       618
10.0       548
345.0      535
418.0      509
183.0      500
8.0        480
9.0        456
13.0       439
115.0      421
266.0      394
99.0       390
35.0       383
          ...
87.0       114
187.0      111
114.0      109
38.0       107
74.0       107
28.0       105
76.0        98
18.0        85
203.0       85
44.0        84
37.0        78
23.0        71
141.0       71
43.0        54
107.0       53
71.0        51
57.0        45
55.0        45
84.0        42
120.0       41
193.0       39
148.0       22
27.0        22
117.0       19
65.0        19
79.0        16
58.0        14
34.0        10
101.0        4
235.0        2
Name: #users, dtype: int64

In [373]:
merged_test.head(2)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,11.0,4.0,2267,0,46000561.0,10820
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,2891.0,1140.0,2267,0,15211447.0,78

In [374]:
len(merged_test)-len(merged_test.drop_duplicates())

0

In [150]:
merged_test.duplicated()#checking duplicate values

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9969    False
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989    False
9990    False
9991    False
9992    False
9993    False
9994    False
9995    False
9996    False
9997    False
9998    False
dtype: bool

In [164]:
merged_test.drop_duplicates(inplace = True)

In [165]:
len(merged_test)

99999

In [375]:
merged_test.drop(['DisplayURL','QueryID','KeywordID','TitleID','DescriptionID','AdID','AdvertiserID','UserID'], axis=1, inplace=True)

In [376]:
merged_test.head(2)

,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,3,3,11.0,4.0,2267,0,46000561.0,10820
1,3,1,2891.0,1140.0,2267,0,15211447.0,78

In [377]:
len(merged_test)

99999

In [378]:
merged_test.to_csv("C:/Users/Harika Konagala/Desktop/kddcup/testtokens_100k.txt",sep='\t')

In [157]:
#dummies for train and test

In [159]:
merged_train.columns

Index([u'DisplayURL', u'AdID', u'AdvertiserID', u'Depth', u'Position',
       u'QueryID', u'KeywordID', u'TitleID', u'DescriptionID', u'UserID',
       u'#users', u'#ads', u'Tokenscore_query', u'Tokenscore_title',
       u'Tokenscore_desc', u'Tokenscore_key'],
      dtype='object')

In [21]:
#merge_user=merge_user.dropna(axis=0)

In [22]:
#merge_user.drop_duplicates(inplace = True)

In [23]:
#len(merge_user)

497720

In [27]:
#one hot encoding for age,gender,depth,position

In [28]:
dummy_variables = pd.get_dummies(merge_user['Age'], prefix='Age')

In [29]:
dummy_variables = pd.concat([dummy_variables, pd.get_dummies(merge_user['Gender'], prefix = 'Gender')], axis=1)

In [30]:
dummy_variables = pd.concat([dummy_variables, pd.get_dummies(merge_user['Depth'], prefix = 'Depth')], axis=1)

In [31]:
dummy_variables = pd.concat([dummy_variables, pd.get_dummies(merge_user['Position'], prefix = 'Position')], axis=1)

In [32]:
train_data = pd.concat([merge_user, dummy_variables], axis=1)

In [33]:
train_data.head(5)

,Click,Impression,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,...,Age_6,Gender_0,Gender_1,Gender_2,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,0,1,4298118681424644510,7686695,385,3,3,1601,5521,7709,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0,1,4860571499428580850,21560664,37484,2,2,2255103,317,48989,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0,1,4860571499428580850,21560710,37484,2,2,4165614,4107,338524,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0,1,4860571499428580850,21560710,37484,2,2,4165614,4107,338524,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0,1,9704320783495875564,21748480,36759,3,3,4532751,60721,685038,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [24]:
#train_data.columns
merge_user.columns

Index([u'Click', u'Impression', u'DisplayURL', u'AdID', u'AdvertiserID',
       u'Depth', u'Position', u'QueryID', u'KeywordID', u'TitleID',
       u'DescriptionID', u'UserID', u'#users', u'#ads', u'Gender', u'Age'],
      dtype='object')

In [35]:
train_data.drop(['Depth','Position','Gender','Age'], axis=1, inplace=True)

In [25]:
#train_data.drop(['DisplayURL','AdID','AdvertiserID'], axis=1, inplace=True)
merge_user.drop(['DisplayURL','AdID','AdvertiserID'], axis=1, inplace=True)

In [27]:
#train_data=train_data.dropna(axis=0)
merge_user=merge_user.dropna(axis=0)

In [28]:
#train_data.drop_duplicates(inplace = True)
merge_user.drop_duplicates(inplace = True)

In [29]:
#len(train_data)
len(merge_user)

497338

In [30]:
#train_data.drop(['UserID'], axis=1, inplace=True)
merge_user.drop(['UserID'], axis=1, inplace=True)

In [31]:
#train_data.head(2)
merge_user.head(2)

,Click,Impression,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,#users,#ads,Gender,Age
0,0,1,3,3,1601,5521,7709,576,3547,1799,1,3
1,0,1,2,2,2255103,317,48989,44771,47,6,1,3

In [32]:
merge_user.to_csv("/Users/phani/dev/projects/harriee/dsproject/actual_train.txt",sep='\t')

In [44]:
#load test and repeat the same process

In [93]:
loadtest = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/test/test.txt",sep="\s+",names=['DisplayURL','AdID','AdvertiserID','Depth','Position','QueryID','KeywordID','TitleID','DescriptionID','UserID'],nrows=499999)

In [94]:
testcopy=loadtest.copy()

In [95]:
merge_adv.head(5)

   AdvertiserID  #users  #ads
0            81       9     1
1            82     294     1
2            83       4     4
3            85       7     6
4            87      12     4

In [96]:
advertiser_test = pd.merge(left=testcopy,right=merge_adv, how='left',left_on='AdvertiserID', right_on='AdvertiserID')

In [97]:
#merged_left = pd.merge(left=survey_sub,right=species_sub, how='left', left_on='species_id', right_on='species_id')

In [98]:
testcopy1=advertiser_test.copy()

In [99]:
testcopy1.head(5)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,40.0,11.0
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,14471.0,3138.0
2,16772851793638846604,22111129,38584,3,2,6415,8872,454986,378040,490234,102.0,44.0
3,5325279403472852193,22166807,38756,2,1,83,34,5360,2080,490234,40.0,11.0
4,12057878999086460853,20180629,27961,2,2,83,34,328,455,490234,24742.0,1938.0

In [100]:
len(testcopy1)

499999

In [101]:
test_user = pd.merge(left=testcopy1,right=user, how='left',left_on='UserID', right_on='UserID')

In [102]:
test_user.head(5)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,#users,#ads,Gender,Age
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,40.0,11.0,1.0,3.0
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,14471.0,3138.0,1.0,3.0
2,16772851793638846604,22111129,38584,3,2,6415,8872,454986,378040,490234,102.0,44.0,1.0,3.0
3,5325279403472852193,22166807,38756,2,1,83,34,5360,2080,490234,40.0,11.0,1.0,3.0
4,12057878999086460853,20180629,27961,2,2,83,34,328,455,490234,24742.0,1938.0,1.0,3.0

In [90]:
#test_user=test_user.dropna(axis=0)

In [91]:
#test_user.drop_duplicates(inplace = True)

In [103]:
len(test_user)

499999

In [105]:
#one hot encoding

In [106]:
dummy_test = pd.get_dummies(test_user['Age'], prefix='Age')

In [107]:
dummy_test = pd.concat([dummy_test, pd.get_dummies(test_user['Gender'], prefix = 'Gender')], axis=1)

In [108]:
dummy_test = pd.concat([dummy_test, pd.get_dummies(test_user['Depth'], prefix = 'Depth')], axis=1)

In [109]:
dummy_test = pd.concat([dummy_test, pd.get_dummies(test_user['Position'], prefix = 'Position')], axis=1)

In [110]:
test_data = pd.concat([test_user, dummy_test], axis=1)

In [111]:
test_data.head(5)

,DisplayURL,AdID,AdvertiserID,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,UserID,...,Age_6.0,Gender_0.0,Gender_1.0,Gender_2.0,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,5325279403472852193,22166806,38756,3,3,6415,34,3341,2080,490234,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,14340390157469404125,3111380,23777,3,1,6415,8872,62423,56167,490234,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,16772851793638846604,22111129,38584,3,2,6415,8872,454986,378040,490234,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,5325279403472852193,22166807,38756,2,1,83,34,5360,2080,490234,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,12057878999086460853,20180629,27961,2,2,83,34,328,455,490234,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [112]:
test_data.drop(['Depth','Position','Gender','Age'], axis=1, inplace=True)

In [113]:
test_data.drop(['DisplayURL','AdID','AdvertiserID'], axis=1, inplace=True)

In [114]:
#test_data=test_data.dropna(axis=0)

In [115]:
#test_data.drop_duplicates(inplace = True)

In [116]:
len(test_data)

499999

In [117]:
test_data.drop(['UserID'], axis=1, inplace=True)

In [118]:
test_data.head(5)

,QueryID,KeywordID,TitleID,DescriptionID,#users,#ads,Age_1.0,Age_2.0,Age_3.0,Age_4.0,...,Age_6.0,Gender_0.0,Gender_1.0,Gender_2.0,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,6415,34,3341,2080,40.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,6415,8872,62423,56167,14471.0,3138.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,6415,8872,454986,378040,102.0,44.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,83,34,5360,2080,40.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,83,34,328,455,24742.0,1938.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [119]:
test_data.columns

Index([u'QueryID', u'KeywordID', u'TitleID', u'DescriptionID', u'#users',
       u'#ads', u'Age_1.0', u'Age_2.0', u'Age_3.0', u'Age_4.0', u'Age_5.0',
       u'Age_6.0', u'Gender_0.0', u'Gender_1.0', u'Gender_2.0', u'Depth_1',
       u'Depth_2', u'Depth_3', u'Position_1', u'Position_2', u'Position_3'],
      dtype='object')

In [120]:
len(test_data)

499999

In [121]:
sample=test_data.copy()

In [122]:
sample.isnull().values.any()

True

In [123]:
sample.fillna(0, inplace=True)

In [124]:
sample.isnull().values.any()

False

In [125]:
len(sample)

499999

In [129]:
#sample[sample['#users']==0.0]

,QueryID,KeywordID,TitleID,DescriptionID,#users,#ads,Age_1.0,Age_2.0,Age_3.0,Age_4.0,...,Age_6.0,Gender_0.0,Gender_1.0,Gender_2.0,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
54,5452678,14925,407972,334809,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
55,13783,14925,407972,334809,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
86,6516,59,1845,2093,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
140,1514,3406,126641,33815,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
251,128,576,29573,11870,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
340,181,366,209869,177190,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
341,181,366,209869,177190,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
349,77,821,1238,739,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
385,549382,50,12151,2035,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
441,52,251,43477,39954,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
442,69,71448,252191,59322,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
512,33,78,5428,11725,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
530,8493,264,79235,14908,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
617,455,260,223392,187648,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
632,3,170,1583,1850,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
635,3,170,1583,1850,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
687,318,11928,187895,160160,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
748,3,863,467,606,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
752,3,863,467,606,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
802,14645,835,421218,2199,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
803,1594682,835,505626,4805,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
805,1594682,835,421218,2199,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
806,1594682,835,505626,4805,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
993,124902,170,1583,1850,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1009,519,547,15244,14880,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1049,420,1510,5428,14227,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1063,16918972,56038,366063,1022436,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1064,4004325,56038,366063,888005,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1068,4004325,56038,913771,538232,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1069,4004325,56038,366063,888005,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499295,31881,27541,49874,45404,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
499304,29,653,806276,196729,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499334,34,6,4632,5011,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499350,38355,317832,656168,37103,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499407,69,188,4639,3675,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499453,321999,9805,467,606,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
499502,69,188,3481,2843,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499509,7337808,4685,318799,151008,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
499512,14265,10368,403747,190079,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
499518,2158924,45064,696739,2057779,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499519,2158924,9846,163921,3061191,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
499529,2797,863,467,606,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499551,32282,993,70838,63479,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
499569,32282,993,119881,50450,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
499619,277070,17459,1207047,3974,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
499622,2953269,55783,791665,628881,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499625,3794365,55783,791665,628881,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499628,277070,55783,791665,628881,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499647,12,218,7875,8742,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499653,13081300,16117,47169,47449,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
499656,12696032,16117,47169,47449,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
499728,69,188,3481,2843,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499798,1010,53,11058,1156,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499801,1190,4447,48513,44424,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
499832,6172023,44987,942150,753832,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499835,434,333,44838,41180,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
499859,420,1510,5428,14227,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
499922,173,21833,138550,14648,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
499961,20230075,255239,484388,394405,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
499964,246575,35017,240365,66345,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [131]:
sample['#users'].value_counts()

24742.0    35300
21246.0    31492
14471.0    26593
0.0        21175
5474.0     11159
5.0        10044
176.0       9148
4555.0      8732
3834.0      8496
805.0       8215
1.0         7108
3.0         6994
2.0         6802
9.0         6763
695.0       6465
1630.0      6055
4.0         5967
3547.0      5614
3017.0      5061
7.0         4876
8.0         4785
6.0         4530
1739.0      4510
1074.0      3673
2749.0      3410
326.0       3189
2500.0      3049
15.0        3036
5935.0      3024
2452.0      2938
           ...
294.0        165
214.0        162
179.0        160
137.0        158
190.0        152
570.0        139
117.0        138
177.0        136
148.0        131
104.0        128
96.0         123
136.0        119
146.0        117
85.0         117
129.0        112
167.0        105
243.0         98
126.0         96
114.0         94
200.0         78
191.0         78
368.0         77
1227.0        63
329.0         27
147.0         25
2696.0         9
491.0          7
164.0          4
367.0          4
78.0           4
Name: #users, dtype: int64

In [132]:
sample['#ads'].value_counts()

1.0       36127
1938.0    35300
1240.0    31492
3.0       26721
3138.0    26593
4.0       21871
2.0       21186
0.0       21175
6.0       11908
41.0      11821
5.0       10721
86.0       9539
243.0      8732
443.0      8496
7.0        7626
8.0        7040
15.0       6880
32.0       6449
786.0      6055
10.0       5832
1799.0     5614
16.0       5429
25.0       5265
11.0       5229
18.0       5106
766.0      5061
9.0        4768
12.0       4602
863.0      4510
24.0       4425
          ...
46.0        591
43.0        581
323.0       559
208.0       523
42.0        507
123.0       495
113.0       443
81.0        441
39.0        404
307.0       380
146.0       367
87.0        347
108.0       315
240.0       310
89.0        304
71.0        292
169.0       289
38.0        285
80.0        281
93.0        267
211.0       266
69.0        263
56.0        246
94.0        229
47.0        213
311.0       204
125.0       170
63.0         77
99.0         27
209.0         7
Name: #ads, dtype: int64

In [133]:
len(sample)

499999

In [134]:
sample.to_csv("/Users/phani/dev/projects/harriee/dsproject/test_data.txt",sep='\t')