In [1]:
import os
import numpy as np
import pandas as pd
import csv
from io import StringIO

In [135]:
#trainload = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/train_data.txt",sep="\s+")
trainload = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/traintokens_100k.txt",sep="\s+")

In [136]:
trainload.head(2)

,Click,Impression,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,0,1,3,3,739,480,3718,0,19463858.0,36065
1,0,1,2,2,12,5,199799,0,341421.0,27728

In [137]:
testload = pd.read_csv("C:/Users/Harika Konagala/Desktop/kddcup/testtokens_100k.txt",sep="\s+")

In [138]:
testload.head(2)

,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,3,3,11.0,4.0,2267,0,46000561.0,10820
1,3,1,2891.0,1140.0,2267,0,15211447.0,78

In [139]:
len(trainload)

99999

In [140]:
len(testload)

99999

In [141]:
traincopy=trainload.copy()

In [142]:
testcopy=testload.copy()

In [45]:
dummy_variables = pd.get_dummies(traincopy['Age'], prefix='Age')

In [46]:
dummy_variables = pd.concat([dummy_variables, pd.get_dummies(traincopy['Gender'], prefix = 'Gender')], axis=1)

In [143]:
dummy_variables =  pd.get_dummies(traincopy['Depth'], prefix = 'Depth')

In [144]:
dummy_variables = pd.concat([dummy_variables, pd.get_dummies(traincopy['Position'], prefix = 'Position')], axis=1)

In [145]:
dummy_variables.head(1)

   Depth_1  Depth_2  Depth_3  Position_1  Position_2  Position_3
0      0.0      0.0      1.0         0.0         0.0         1.0

In [146]:
train_data = pd.concat([traincopy, dummy_variables], axis=1)

In [147]:
train_data.head(2)

,Click,Impression,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,0,1,3,3,739,480,3718,0,19463858.0,36065,0.0,0.0,1.0,0.0,0.0,1.0
1,0,1,2,2,12,5,199799,0,341421.0,27728,0.0,1.0,0.0,0.0,1.0,0.0

In [148]:
train_data.drop(['Depth','Position'], axis=1, inplace=True)

In [149]:
train_data.head(2)

,Click,Impression,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,0,1,739,480,3718,0,19463858.0,36065,0.0,0.0,1.0,0.0,0.0,1.0
1,0,1,12,5,199799,0,341421.0,27728,0.0,1.0,0.0,0.0,1.0,0.0

In [54]:
dummy = pd.get_dummies(testcopy['Age'], prefix='Age')

In [55]:
dummy = pd.concat([dummy, pd.get_dummies(testcopy['Gender'], prefix = 'Gender')], axis=1)

In [150]:
dummy =  pd.get_dummies(testcopy['Depth'], prefix = 'Depth')

In [151]:
dummy = pd.concat([dummy, pd.get_dummies(testcopy['Position'], prefix = 'Position')], axis=1)

In [152]:
dummy.head(1)

   Depth_1  Depth_2  Depth_3  Position_1  Position_2  Position_3
0      0.0      0.0      1.0         0.0         0.0         1.0

In [153]:
test_data = pd.concat([testcopy, dummy], axis=1)

In [154]:
test_data.head(2)

,Depth,Position,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,3,3,11.0,4.0,2267,0,46000561.0,10820,0.0,0.0,1.0,0.0,0.0,1.0
1,3,1,2891.0,1140.0,2267,0,15211447.0,78,0.0,0.0,1.0,1.0,0.0,0.0

In [155]:
test_data.drop(['Depth','Position'], axis=1, inplace=True)

In [156]:
test_data.head(2)

,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
0,11.0,4.0,2267,0,46000561.0,10820,0.0,0.0,1.0,0.0,0.0,1.0
1,2891.0,1140.0,2267,0,15211447.0,78,0.0,0.0,1.0,1.0,0.0,0.0

In [157]:
train_data.isnull().values.any()

False

In [158]:
test_data.isnull().values.any()

False

In [159]:
len(train_data)

99999

In [160]:
len(train_data)-len(train_data.drop_duplicates())

16290

In [161]:
len(test_data)-len(test_data.drop_duplicates())

27304

In [39]:
test_data.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9969    False
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980     True
9981     True
9982    False
9983    False
9984     True
9985    False
9986    False
9987     True
9988    False
9989     True
9990     True
9991    False
9992     True
9993    False
9994    False
9995    False
9996    False
9997    False
9998    False
dtype: bool

In [40]:
test_data[test_data.duplicated(keep=False)]

,#users,#ads,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key,Age_0.0,Age_1.0,Age_2.0,Age_3.0,...,Age_6.0,Gender_0.0,Gender_1.0,Gender_2.0,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3
1,311.0,254.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,1.0,1.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,466.0,302.0,0,38,37,22,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
6,8.0,2.0,0,140,69,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
10,8.0,2.0,0,140,69,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
13,11.0,2.0,0,0,192,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
17,3.0,3.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
18,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
19,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
22,2.0,2.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
25,11.0,7.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
26,1.0,1.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
30,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
33,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
34,2.0,2.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
37,466.0,302.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
38,1.0,1.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
39,466.0,302.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
40,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
41,1.0,1.0,0,0,207,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
44,1.0,1.0,0,0,207,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
45,1.0,1.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
48,1.0,1.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
51,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
53,311.0,254.0,0,49,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
54,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
55,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
56,33.0,34.0,0,151,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
59,466.0,302.0,12,4,4,2,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9933,33.0,7.0,0,59,171,0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9934,438.0,162.0,0,4,316,0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9935,33.0,7.0,0,59,171,0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9936,438.0,162.0,0,4,316,0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
9937,33.0,7.0,0,59,171,0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9938,311.0,254.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
9940,29.0,6.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
9941,311.0,254.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
9943,7.0,2.0,0,0,123,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9944,0.0,0.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
9945,0.0,0.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
9946,53.0,43.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
9947,0.0,0.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
9948,7.0,2.0,0,0,123,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9949,7.0,2.0,0,0,123,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9952,49.0,11.0,0,54,230,0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9956,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9958,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
9960,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
9961,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
9963,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
9964,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
9966,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
9980,8.0,1.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9981,2.0,3.0,0,0,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9984,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9987,33.0,34.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9989,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9990,466.0,302.0,0,0,0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9992,311.0,254.0,0,0,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [162]:
df2 = test_data[test_data.duplicated() == True] # creates a new dataframe with the repeated rows
len(df2) # number of duplicates

27304

In [163]:
df3 = train_data[train_data.duplicated() == True] # creates a new dataframe with the repeated rows
len(df3) # number of duplicates

16290

In [132]:
#leave the duplicates

In [164]:
train_data.to_csv("C:/Users/Harika Konagala/Desktop/kddcup/traintokens_100.txt",sep='\t')

In [165]:
test_data.to_csv("C:/Users/Harika Konagala/Desktop/kddcup/testtokens_100.txt",sep='\t')

In [5]:
#q_95 = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/query/output/query_95.txt",sep="\s+",names=['QueryID','Tokenscore_query'])

In [6]:
#d_90 = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/description/output/description_90.txt",sep="\s+",names=['DescriptionID','Tokenscore_desc'])

In [7]:
#k_90 = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/keyword/output/keyword_90.txt",sep="\s+",names=['KeywordID','Tokenscore_key'])

In [8]:
#t_90 = pd.read_csv("/Users/phani/dev/projects/harriee/dsproject/title/output/title_90.txt",sep="\s+",names=['TitleID','Tokenscore_title'])

In [9]:
traincopy=trainload.copy()

In [10]:
m1 = pd.merge(left=traincopy,right=q_95, left_on='QueryID', right_on='QueryID')

In [11]:
merged2 = pd.merge(left=m1,right=t_90, left_on='TitleID', right_on='TitleID')

In [12]:
merged3 = pd.merge(left=merged2,right=d_90, left_on='DescriptionID', right_on='DescriptionID')

In [13]:
final_merged_train = pd.merge(left=merged3,right=k_90, left_on='KeywordID', right_on='KeywordID')

In [14]:
len(final_merged_train)

497338

In [15]:
final_merged_train.head(2)

,Click,Impression,Depth,Position,QueryID,KeywordID,TitleID,DescriptionID,#users,#ads,Gender,Age,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,0,1,3,3,1601,5521,7709,576,3547,1799,1,3,0,0,0,0
1,0,2,2,2,1601,5521,7709,576,3547,1799,1,3,0,0,0,0

In [16]:
final_merged_train.drop(['QueryID','KeywordID','TitleID','DescriptionID'], axis=1, inplace=True)

In [17]:
final_merged_train=final_merged_train.dropna(axis=0)

In [18]:
final_merged_train.drop_duplicates(inplace = True)

In [19]:
len(final_merged_train)

231103

In [20]:
train=final_merged_train.copy()

In [21]:
train.columns

Index([u'Click', u'Impression', u'Depth', u'Position', u'#users', u'#ads',
       u'Gender', u'Age', u'Tokenscore_query', u'Tokenscore_title',
       u'Tokenscore_desc', u'Tokenscore_key'],
      dtype='object')

In [30]:
#repeat the same on test data

In [77]:
testcopy=testload.copy()

In [78]:
t1 = pd.merge(left=testcopy,right=q_95, how='left',left_on='QueryID', right_on='QueryID')

In [79]:
t2 = pd.merge(left=t1,right=t_90, how='left',left_on='TitleID', right_on='TitleID')

In [80]:
t3 = pd.merge(left=t2,right=d_90, how='left',left_on='DescriptionID', right_on='DescriptionID')

In [81]:
final_merged_test = pd.merge(left=t3,right=k_90, how='left',left_on='KeywordID', right_on='KeywordID')

In [82]:
len(final_merged_test)

499999

In [83]:
final_merged_test.head(2)

,QueryID,KeywordID,TitleID,DescriptionID,#users,#ads,Age_1.0,Age_2.0,Age_3.0,Age_4.0,...,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,6415,34,3341,2080,40.0,11.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0,0,174,0
1,6415,8872,62423,56167,14471.0,3138.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0,0,0,0

In [84]:
final_merged_test.drop(['QueryID','KeywordID','TitleID','DescriptionID'], axis=1, inplace=True)

In [85]:
final_merged_test.head(2)

,#users,#ads,Age_1.0,Age_2.0,Age_3.0,Age_4.0,Age_5.0,Age_6.0,Gender_0.0,Gender_1.0,...,Depth_1,Depth_2,Depth_3,Position_1,Position_2,Position_3,Tokenscore_query,Tokenscore_title,Tokenscore_desc,Tokenscore_key
0,40.0,11.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0,0,174,0
1,14471.0,3138.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0,0,0,0

In [86]:
#final_merged_test=final_merged_test.dropna(axis=0)

In [87]:
#final_merged_test.drop_duplicates(inplace = True)

In [88]:
len(final_merged_test)

499999

In [89]:
test=final_merged_test.copy()

In [90]:
test.columns

Index([u'#users', u'#ads', u'Age_1.0', u'Age_2.0', u'Age_3.0', u'Age_4.0',
       u'Age_5.0', u'Age_6.0', u'Gender_0.0', u'Gender_1.0', u'Gender_2.0',
       u'Depth_1', u'Depth_2', u'Depth_3', u'Position_1', u'Position_2',
       u'Position_3', u'Tokenscore_query', u'Tokenscore_title',
       u'Tokenscore_desc', u'Tokenscore_key'],
      dtype='object')

In [31]:
train.columns

Index([u'Click', u'Impression', u'Depth', u'Position', u'#users', u'#ads',
       u'Gender', u'Age', u'Tokenscore_query', u'Tokenscore_title',
       u'Tokenscore_desc', u'Tokenscore_key'],
      dtype='object')

In [22]:
train.to_csv("/Users/phani/dev/projects/harriee/dsproject/train_full.txt", sep='\t')

In [92]:
test.to_csv("/Users/phani/dev/projects/harriee/dsproject/test_90.txt", sep='\t')

In [36]:
train['Tokenscore_key'].unique()

array([  0,  28,  24,   8,   1,   3,   5,   2,  23,  43,  16,  29,  33,
        15,  11,  34,  14,  18,  12,   6,   4,  42,  39,  20,  36,  31,
        30,  35,  26,  37,  25,  47,  38,  41,   9,  40,  13,  17,  19,
        27,  10,  21,   7,  64,  51,  60,  22,  45,  32,  48,  72,  54,
        65,  80,  61,  68,  46,  53,  52,  63,  69,  49,  79,  50,  57,
       114,  59,  58,  67, 106,  66,  44,  56,  55,  70,  77,  97,  84,
        78,  83,  62,  74, 103,  73,  82,  75,  81,  85,  71, 117,  76, 124])